{% extends 'base.html' %} 
{% load static %}

{% block posts %}
<br>
<br>


<form class="form" action ="{% url 'update' blog.id %}" method = "POST">
    {% csrf_token %} 

    
    <div class="textForm">
        <input type="text" value="{{blog.title}}" required class="textInput" name="title" id="title">
        <label class="textLabel" for="title">제목</label>
        <span class="spanOverlay"></span>
        <span class="spanBase"></span>
    </div>
    <div class="textForm">
        <input type="text" value="{{blog.writer}}" required class="textInput" name="writer" id="writer">
        <label class="textLabel" for="writer">작성자</label>
        <span class="spanOverlay"></span>
        <span class="spanBase"></span>
    </div>

    <div class="contentForm">
        <textarea name="content" required class="content" id="content" cols="30" rows="10">{{blog.content}}
        </textarea>
        <label class="contentLabel" for="content">내용</label>
        <span class="spanOverlay"></span>
        <span class="spanBase"></span>
    </div>
    
    <div class="related-widget-wrapper">
        <select name="hashtags" id="hashtags" multiple>
            {% for hashtag in blog.hashtags.all %}
                <option value="{{ hashtag.name }}">{{ hashtag.name }}</option>
                </option>
            {% endfor %}
        </select>
    </div>

    <div>
        <input type="file" name="image" accept="image/*" id="image">
    </div>

    <button type="submit" class="submitBtn">저장</button>
</form>

{% endblock %} 



