{% extends 'base.html' %} 
{% load static %}

{% block posts %}
<br><br><br><br><br>
<div class="container">
    <div class="col-lg-8 col-md-10 mx-auto">
        {{ error_message }}
        <form method="POST">
            {% csrf_token %}
            <div class="textForm">
                <input type="text" required class="textInput" name="hashtag" id="hashtag">
                <label class="textLabel" for="writer">해시태그</label>
                <span class="spanOverlay"></span>
                <span class="spanBase"></span>
            </div>
            <br>
            
            <button type="submit" class="submitBtn">저장</button>
        </form>
    </div>
</div>
<br><br><br><br><br>
{% endblock %} 
