{% extends 'base.html' %} 
{% load static %}


{% block posts %}
<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Diary
    </h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Portfolio Grid Items-->
    <div class="row justify-content-center">
      {% for blog in blogs %}
      <!-- Portfolio Item 1-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div
          class="portfolio-item mx-auto"
          data-bs-toggle="modal"
          data-bs-target="{{blog.id}}"
        >
          <div
            class="portfolio-item-caption
              d-flex
              align-items-center
              justify-content-center
              h-100
              w-100
            ">
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img
            class="img-fluid"
            src="{% static 'blog/img/cat.jpg' %}"
            alt="..."
          />
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %} 


{% block modals %}
{% for blog in hashtags.blog_set.all %} 
{% for blog in blogs %}

<div
  class="portfolio-modal modal fade"
  id="{{blog.id}}"
  tabindex="-1"
  aria-labelledby="{{blog.id}}"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center pb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="title_tool">
              <!-- Portfolio Modal - Title-->
              <h2
                class="portfolio-modal-title text-secondary text-uppercase mb-0"
              >
                {{ blog.title }}
              </h2>
              </div>
              <!-- Icon Divider-->
              <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                  <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
              </div>
             

              <!-- Portfolio Modal - Text-->
              <div class="writer_tool">
              <h4>작성자 : {{ blog.writer }}  <h5>{{ blog.pub_date }}</h5></h4>
            </div>
              <br />
              <p class="내용">{{ blog.content }}</p>
              {% for hashtag in blog.hashtags.all %}
                <span>{{ hashtag.name }}</span>
              {% endfor %}
              <br><br>
              <a class="btn btn-primary" href="{% url 'edit' blog.id %}" data-bs-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                수정하기
              </a>
              <a class="btn btn-primary" href="{% url 'delete' blog.id %}" data-bs-dismiss="modal">
                <i class="fas fa-times fa-fw"></i>
                삭제하기
              </a>
            </div>
            {% for comment in blog.comments.all %} 
                <p>{{ comment.text }}</p>
            {% endfor %} 
            <form method ="POST" action="{% url 'comment' blog.id %}">
              {% csrf_token %}
              <p><label for="id_text">댓글 : </label> 
                <input type="text" name="text" maxlength="50" required="" id="id_text"></p>
              <input type="submit" value="submit">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endfor %} {% endblock %}
